*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h2,h6{
    font-family: 'Graduate', "cursive";
}
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
header {
    background-image: url("/images/slider-bg.jpg");
    background-size: cover;
    /* height: 100%;
    width: 100%; */
}
header .img_box{
position: relative;
}
nav .nav_wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1.1em 1.05em;
    top: 0;
    margin-bottom: 120px;
}
nav .nav_wrapper .logo a{
    font-size: 1.55em;
    font-weight: 700;
    color: #fff;
}
nav .nav_wrapper .menu_wrapper .icon{
    display: none;
}
nav .nav_wrapper .menu_wrapper .toggle{
    position: fixed;    
    right: 15px;
    top: 15px;
    z-index: 2;
}
nav .nav_wrapper .menu_wrapper .toggle .bar_menu{
    /* border: 1px solid black; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 2em;
    color: #000;
}
nav .nav_wrapper .menu_wrapper .toggle .close{
    display: none;
    font-size: 3em;
    z-index: 1;
    color: #fff;
    cursor: pointer;
}
nav .nav_wrapper .menu_wrapper .menu_list{
    display: none;
    background-color: #3a3f58;
    position: fixed;
    z-index: 1;
    width: 1440px;
    height: 100%;
    left: 0px;
    top: 0;
}
nav .nav_wrapper .menu_wrapper .menu_list .menu{
    position: absolute;
    display: block;
    top: 40%;
    left: 50%;  
    text-align: center;
}
nav .nav_wrapper .menu_wrapper .menu_list .menu li{
    margin-bottom: 1em;
}
nav .nav_wrapper .menu_wrapper .menu_list .menu li a{
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}
nav .nav_wrapper .menu_wrapper .menu_list .menu li a:hover{
    color: #e45441;
}

.icon:checked ~ .menu_list{
    display: block !important;
}
.icon:checked ~ .toggle .bar_menu{
    display: none !important;
}
.icon:checked ~ .toggle .close{
    display: block !important;
}
header .container{
    /* padding-bottom: 100px; */
    height: 100vh;
    max-width: 48%;
    margin: auto;
}
header .container .wrapper_text{
    background:rgba(58, 63, 88, 0.8);
    color: #fff;
    padding: 45px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}
header .container .wrapper_text h2{
    font-size: 2.2em;
    width:400px;
    text-transform: uppercase;
    margin: auto;
    line-height: 1.4em;
    font-weight: 700;
}
header .container .wrapper_text p{
    margin-top: 0.7em;
    margin-bottom: 1.5em;
}
header .container .wrapper_text a{
    font-size: 1.2em;
    color: #000;
    text-transform: uppercase;
    background-color: #fff;
    padding: .5em 2em;
    border-radius: 5px;
    border: 1px solid #fff;
}
header .container .wrapper_text a:hover{
    background-color: transparent;
    color: #fff;
}
.about_section .about_container{
    padding: 90px 140px;
}
.about_section .about_container .aboutrow{
    display: flex;
    margin: 0px auto;
}
.about_section .about_container .img_about img{
    max-width: 100%;
    padding:0px 15px;
}
.about_section .about_container .wrapper_about_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px;
    width: 100%;
}
.about_section .about_container .wrapper_about_text h2{
    font-size: 1.8em;
    margin-bottom: .4em;
    text-transform: uppercase;
}
.about_section .about_container .wrapper_about_text a{
    width: 175px;
    height: 45px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3f58;
    color: #fff;
    margin-top: 2em;
    border: 1px solid #3a3f58;
}
.about_section .about_container .wrapper_about_text a:hover{
    background-color: transparent;
    color: #3a3f58;
}
.gallery_section{
    padding-top: 1em;
    background-color: #eee;
}
.gallery_section .gallery_container h2{
    font-size: 2em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}
.gallery_section .gallery_container .img_cards_gallery{
    display: flex;
}
.gallery_section .gallery_container .img_cards_gallery .img_card_1{
    position: relative;
    height: 420px;
    min-height: 420px;

}
.gallery_section .gallery_container .img_cards_gallery .img_card_1 .overplay a i{
    font-size: 2em;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #e45441;
}
.gallery_section .gallery_container .img_cards_gallery .img_card_1 img{
height: 420px;
width: 100%;
}
.gallery_section .gallery_container .img_cards_gallery .img_card_1 .overplay{
    opacity: 0;
    position: absolute;
    top: 0px;
    background: rgba(53,53,53,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1.1s;
}
.gallery_section .gallery_container .img_cards_gallery .img_card_1:hover .overplay{
        transform: scale(1.1);
        transform: translateY(-0%);
        opacity: 1;
        left: 0;
        animation: bottom-to-top 1s;
}
.gallery_section .gallery_container .img_cards_gallery .img_card{
    position: relative;
    height: 420px;
}
.gallery_section .gallery_container .img_cards_gallery .img_card img{
    width: 360px;
    height: 420px;
}
.gallery_section .gallery_container .img_cards_gallery .img_card .overplay a i{
    font-size: 2em;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #e45441;
}
.gallery_section .gallery_container .img_cards_gallery .img_card .overplay{
    opacity: 0;
    position: absolute;
    top: 0px;
    background: rgba(53,53,53,.7);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1.1s;
}
.gallery_section .gallery_container .img_cards_gallery .img_card:hover .overplay{
        transform: scale(1.1);
        transform: translateY(-0%);
        opacity: 1;
        left: 0;
        animation: bottom-to-top 1s;
}
.gallery_section .button{
    padding-top: 2em;
    text-align: center;
    padding-bottom: 4em;
}
.gallery_section .button a{
    padding: .5em 2.5em;
    font-size: 1em;
    background-color: #e45441;
    color: #fff;
    border: 1px solid #e45441;
    border-radius: 5px;
}
.gallery_section .button a:hover{
    background-color: transparent;
    color: #e45441;
}
.services_section h2{
    font-size: 2em;
    text-align: center;
    margin-top: 3em;
    padding-bottom: 2em;
}
.services_section .services_container .services_cards{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 3em;
}
.services_section .services_container .services_cards .only_services_card{
    width: 390px;
    position: relative;
}
.services_section .services_container .services_cards .only_services_card .img_services img{
    height: 145px;
    width: 145px;
    border-radius: 100%;
    border: 5px solid #fff;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
.services_section .services_container .only_services_card .text_services{
    background-color: #3a3f58;
    padding: 97px 25px 30px 25px;
    text-align: center;
    color: #fff;
}
.services_section .services_container .only_services_card .text_services h6{
    font-size: 1.4em;
    font-weight: 500;
}
.services_section .services_container .only_services_card .text_services p{
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.services_section .services_container .only_services_card .text_services a{
    padding: 0.5em 2em;
    color: #fff;
    background-color: #e45441;
    border: 1px solid #e45441;
    border-radius: 5px;
    margin-bottom: 1em;
}
.services_section .services_container .only_services_card .text_services a:hover{
    color: #e45441;
    background-color: transparent;
}
.blog_section h2{
    font-size: 2em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em;
}
.blog_section .blog-container{
    display: flex;
}
.blog_section .blog-container .blog_wrapper{
    display: flex;
    padding: 0px 1em;
    width: 750px;
}
.blog_section .blog-container .blog_wrapper .blog_img_box{
    width: 225px;
    min-width: 225px;
}
.blog_section .blog-container .blog_wrapper .blog_img_box img{
    width: 100%;
}
.blog_section .blog-container .blog_wrapper .blog_detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    background-color: #f9f8f7;;
}
.blog_section .blog-container .blog_wrapper .blog_detail h6{
    font-size: 1.2em;
}
.blog_section .blog-container .blog_wrapper .blog_detail p{
    margin-top: 0.6em;
    margin-bottom: 1.5em;
}
.blog_section .blog-container .blog_wrapper .blog_detail a{
    padding: .5em 1.2em;
    color: #fff;
    border: 1px solid #3a3f58;
    background-color: #3a3f58;
}
.blog_section .blog-container .blog_wrapper .blog_detail a:hover{
    color: #3a3f58;
    background-color: transparent;
}
.test_container h2{
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 2em;
    text-align: center;
}
.test_container .test_wrapper{
    margin-top: 10em;
    position: relative;
}
.test_container .test_wrapper .text_img_box img{
    border: 8px solid #fff;
    border-radius: 100%;    
    min-width: 175px;
    max-width: 175px;
    position: absolute;
    margin: auto;
    top: -40%;
    left: 17%; 
}
.test_container .test_wrapper .details_test{
    width: 995px;
    background-color: #3a3f58;
    padding: 112px 25px 25px 25px;
    margin: auto;
    color: #fff;
}
.test_container .test_wrapper .details_test h5{
    font-size: 1.4em;
    color: #e45441;
}
.test_container .test_wrapper .details_test p{
    margin-top: .5em;
    margin-bottom: 1em;
}
.test_container .test_wrapper .details_test i{
    font-size: 1.2em;
}
footer .contact_section{
    margin-top: 10em;
}
footer .contact_section .contact_container{
    display: flex;
    justify-content: center;
    margin: auto;
} 
footer .contact_section .contact_container .form_wrapper{
    border: 5px solid #fff;
    background-color: #3a3f58;
    width: 555px;
    padding: 2.5em 2em;
    margin: 0em 1em;
    margin-bottom: -90px;
}
footer .contact_section .contact_container .form_wrapper h6{
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 1em;
}
footer .contact_section .contact_container .form_wrapper .contact{
    margin-bottom: 1.5em;
}
footer .contact_section .contact_container .form_wrapper input{
    width: 30em;
    height: 3em;
    border: none;
    border-radius: 5px;
    padding-left: 1em;
}
footer .contact_section .contact_container .form_wrapper .contact_1 input{
    height: 8em;
    margin-bottom: 3em;
}
footer .contact_section .contact_container .form_wrapper a{
    padding: 0.6em 2.8em;
    font-size: 1.1em;
    color: #fff;
    background-color: #e45441;
    border: 1px solid #e45441;
    text-transform: uppercase;
}
footer .contact_section .contact_container .form_wrapper a:hover{
    color: #e45441;
    background-color: transparent;
}
footer .contact_section .contact_container .subscribe{
    margin-top: 7em;
    margin-left: 1EM;
    width: 555px;
}
footer .contact_section .contact_container .subscribe h5{
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}
footer .contact_section .contact_container .subscribe P{
    color: #777;
    margin-bottom: 1em;
}
footer .contact_section .contact_container .subscribe .subscribe_form input{
    width: 35em;
    height: 3em;
    padding-left: 1em;
    background-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 1.5em;
}
footer .contact_section .contact_container .subscribe .subscribe_form a{
    padding: 0.5em 2.2em;
    background-color: #3a3f58;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.1em;
}
footer .footer_section{
    left: 0px;
}
footer .footer_section .footer_container{
    padding: 165px 0px 75px 0px;
    background-color: #3a3f58;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}
footer .footer_section .footer_container .shapel{
    width: 310px;
    color: #fff;
}
footer .footer_section .footer_container .shapel a h6{
    color: #fff ;
    font-size: 1.2em;
    margin-bottom: 1em;
}
footer .footer_section .footer_container .company{
    width: 310px;
    color: #fff;
}
footer .footer_section .footer_container .company h6{
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 1em;
}
footer .footer_section .footer_container .contact_footer h6{
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 1em;

}
footer .footer_section .footer_container .contact_footer ul li{
    margin-bottom: 1em;
}
footer .footer_section .footer_container .contact_footer ul li a{
    color: #fff;
}
footer .footer_section .footer_container .contact_footer ul li a:hover{
    color: #e45441;
}
footer .footer_section .footer_container .contact_footer ul li a i{
    margin-right: 1em;
}
footer .footer_section .footer_container .follw{
    margin-left: 5em;
}
footer .footer_section .footer_container .follw h6{
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 1em;
}
footer .footer_section .footer_container .follw ul{
    display: flex;
    gap: 0.5em;
}
footer .footer_section .footer_container .follw ul li a{
    width: 50px;
    height: 50px;
    font-size: 1em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}
footer .footer_section .footer_container .follw ul li a:hover{
    color: #e45441;
    border-color: #e45441;
}
footer .copyright{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
footer .copyright a{
    color: #000;
}
/* @media (max-width:1200px){
    header .container .wrapper_text{
        font-size: ;
    }
    .gallery_section .gallery_container .img_cards_gallery{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width:1000px){
    header .container .wrapper_text{
        font-size: 1em;
        padding: 1em;
    }
} */